* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(darth-vader-3840x2160-8219.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow-x: hidden;

}
.container {
 justify-content: center;
 align-items: center;
 
    
  }

  .header-container{
    text-align: center;
    margin-top: 200px;

}

#toggle-btn{
  cursor: pointer;
}

.card {
  display: block;
  align-items: center;
  justify-content: center;
    text-align: center;
    border: 2px solid gray;
    background: none;
    color: white;
    margin-bottom: 10px;

  }

  h5,p{
    text-transform:capitalize;
    text-align: center;
  }

  .header{
    color: white;
    background-image: url(https://miro.medium.com/v2/resize:fit:1388/format:webp/1*0xEPiEGbcKrxmjt3ONcXZA.jpeg);

background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
  
  }

  .card-img{
    height: 300px;
  }

  .hide{
    display:  none;
  }

  #filter_group{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border-radius: 50px;
    color: white;
    width: 100%;
  }

 