body{
    margin: 0;
    padding: 0;
    background-image: url(darth-vader-3840x2160-8219.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow-x: hidden;

}
.container {
    text-align: center;
  }

#toggle-btn{
  cursor: pointer;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* padding: 12px 20px;
 */

 /* display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 300px;
 margin-left: 300px;
padding: 15px; */
}

.card {
  display: block;
  align-items: center;
  justify-content: center;
    text-align: center;
    border: 2px solid gray;
    background: none;
    color: white;
    margin-bottom: 10px;

  }

  h5,p{
    text-transform:capitalize;
    /* overflow-wrap: break-word; */
    text-align: center;
  }

  .card-img{
    height: 300px;
  }

  .hide{
    display:  none;
  }

  #filter_group{
    display: flex;
    flex-direction: row;
  }

 